{{>head}}

    {{>navbar}}
    
    <div class="row">
     <div class="col-8">
         <h1>Cursos Node</h1>
         <p>De cero a Experto: que consta de 18 videos un total de 20 hrs</p>
     </div>
     <div class="col-4">
         <img src="assets/img/giphy.gif" class="img-thumbnail">
     </div>
    </div>
    
 {{>footer}}
